<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="/lib/flowbite/flowbite.min.css">
</head>
<body>
    @RenderBody()

    <script src="/lib/flowbite/flowbite.min.js"></script>
</body>
</html>